.pop-up-window  {
    -fx-background-color: #212121;
    -fx-border-color: rgba(6, 190, 225, 0.8);
}

.label {
    -fx-text-fill: #FAFAFF;
}

.button-close {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
}

.button-close:hover {
    -fx-text-fill: #06BEE1;
}

.button-close:pressed {
    -fx-text-fill: #0599b2;
}